#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  margin-top: 93px;
}
.logo {
  width: 100px;
}
.navbar {
  z-index: 2000;
}
.offcanvas {
  width: 250px;
}
.nav-link {
  color: #000;
  list-style: none;
}
.home-router-list {
  list-style: none;
}
.btn {
  border: none;
  border-radius: 20%;
}
.btn:hover {
  opacity: 0.9;
}
footer {
  margin-top: auto;
}
.home-link {
  list-style: none;
}
.home-link a {
  color: #252525;
}
.about-container[data-v-41175ba2] {
  min-height: 100vh;
}
h2[data-v-41175ba2] {
  text-align: center;
  margin-top: 50px;
}
.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  min-height: 100vh;
}
.btn {
  border-radius: 20px;
}
.form-control {
  resize: none;
}
.background[data-v-e0df3022] {
  min-height: calc(100vh - 56px);
  background: #000e14;
}
.mini-navbar[data-v-e0df3022] {
  background: #f8f9fa;
  border-top: 1px solid #000e14;
}
.welcome-msg[data-v-e0df3022] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000e14;
  padding-top: 30px;
  position: relative;
}
h1[data-v-e0df3022] {
  color: #f8f9fa;
  font-family: Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans,
    Arial, sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -3000px;
  animation: slide-e0df3022 0.5s forwards;
  animation-delay: 1s;
}
@keyframes slide-e0df3022 {
  to {
    left: 0;
  }
}
.nav-item[data-v-e0df3022] {
  position: relative;
  margin: 0;
  font-size: 12px;
}
.nav-item[data-v-e0df3022]:after {
  content: '';
  height: 3px;
  width: 0;
  background: #850e01;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.nav-item[data-v-e0df3022]:hover:after {
  width: 100%;
}
.nav-link[data-v-e0df3022] {
  color: #000;
  background: #f8f9fa;
}
.card[data-v-e0df3022] {
  background: #191e24;
}
.card-text[data-v-e0df3022],
.card-title[data-v-e0df3022] {
  color: #f8f9fa;
}
.img-cards[data-v-e0df3022] {
  height: 191px;
}
.btn[data-v-e0df3022] {
  border-radius: 20px;
  background: #850e01;
}
.col[data-v-e0df3022] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}
.btn-router-link[data-v-e0df3022] {
  color: #f8f9fa;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}
@media only screen and (min-width: 400px) {
  .nav-item[data-v-e0df3022] {
    font-size: 14px;
  }
}
@media only screen and (min-width: 520px) {
  .nav-item[data-v-e0df3022] {
    font-size: 16px;
    margin: 0 10px;
  }
}
img[data-v-6902a67b] {
  width: 200px;
  margin-bottom: 20px;
}
h2[data-v-6902a67b],
h3[data-v-6902a67b] {
  color: #fff;
}
.team-results[data-v-6902a67b] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.stats[data-v-6902a67b] {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}
.stats strong[data-v-6902a67b] {
  margin: 0 10px;
}
.ul-stats[data-v-6902a67b] {
  list-style: none;
  padding: 0;
}
.ol-team-name[data-v-6902a67b] {
  padding: 0;
}
.dropdown-item[data-v-6902a67b] {
  color: #fff;
  padding: 4px 0;
}
.dropdown-item[data-v-6902a67b]:hover {
  color: #34383c;
}
@media screen and (max-width: 460px) {
  h2[data-v-6902a67b] {
    font-size: 24px;
  }
  h3[data-v-6902a67b] {
    font-size: 20px;
  }
  .dropdown-item[data-v-6902a67b] {
    padding: 4px 0;
    font-size: 12px;
  }
  .ul-stats[data-v-6902a67b] {
    list-style: none;
    padding: 0;
    font-size: 12px;
  }
  .ol-team-name[data-v-6902a67b] {
    padding: 0;
    font-size: 12px;
  }
}
.bundesliga-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #34383c;
}
img[data-v-71d813d4] {
  width: 300px;
}
h2[data-v-71d813d4],
h3[data-v-71d813d4] {
  color: #fff;
}
.team-results[data-v-71d813d4] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.stats[data-v-71d813d4] {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}
.stats strong[data-v-71d813d4] {
  margin: 0 10px;
  color: #fff;
}
.ul-stats[data-v-71d813d4] {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}
.team-name[data-v-71d813d4] {
  margin: 10px 0;
  color: #fff;
}
.ol-team-name[data-v-71d813d4] {
  padding: 0;
  color: #fff;
}
.dropdown-item[data-v-71d813d4] {
  color: #fff;
}
.dropdown-item[data-v-71d813d4]:hover {
  color: #3f1052;
}
@media screen and (max-width: 500px) {
  h2[data-v-71d813d4] {
    font-size: 24px;
  }
  h3[data-v-71d813d4] {
    font-size: 20px;
  }
  .dropdown-item[data-v-71d813d4] {
    padding: 4px 0;
    font-size: 12px;
  }
  .ul-stats[data-v-71d813d4] {
    list-style: none;
    padding: 0;
    font-size: 12px;
  }
  .ol-team-name[data-v-71d813d4] {
    padding: 0;
    font-size: 12px;
  }
}
.premierleague-container[data-v-197970d4] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #39003d;
}
img[data-v-04abcaa1] {
  width: 300px;
  margin: 15px 0;
}
h2[data-v-04abcaa1],
h3[data-v-04abcaa1] {
  color: #fff;
  font-weight: 700;
}
.team-results[data-v-04abcaa1] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.stats[data-v-04abcaa1] {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}
.stats strong[data-v-04abcaa1] {
  margin: 0 10px;
}
.ul-stats[data-v-04abcaa1] {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}
.team-name[data-v-04abcaa1] {
  margin: 10px 0;
}
.ol-team-name[data-v-04abcaa1] {
  padding: 0;
  color: #fff;
  font-weight: 700;
}
.dropdown-item[data-v-04abcaa1] {
  padding: 4px 0;
  color: #fff;
  font-weight: 700;
}
.dropdown-item[data-v-04abcaa1]:hover {
  background: none;
  opacity: 0.8;
}
@media screen and (max-width: 400px) {
  h2[data-v-04abcaa1] {
    font-size: 24px;
  }
  h3[data-v-04abcaa1] {
    font-size: 20px;
  }
  .dropdown-item[data-v-04abcaa1] {
    padding: 4px 0;
    font-size: 14px;
  }
  .ul-stats[data-v-04abcaa1] {
    list-style: none;
    padding: 0;
    font-size: 14px;
  }
  .ol-team-name[data-v-04abcaa1] {
    padding: 0;
    font-size: 14px;
  }
}
.laliga-container[data-v-2a8b7904] {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img[data-v-1241bcba] {
  width: 150px;
  margin-bottom: 30px;
}
h2[data-v-1241bcba],
h3[data-v-1241bcba] {
  color: #fff;
}
.team-results[data-v-1241bcba] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.stats[data-v-1241bcba] {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  color: #fff;
}
.stats strong[data-v-1241bcba] {
  margin: 0 10px;
}
.ul-stats[data-v-1241bcba] {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}
.team-name[data-v-1241bcba] {
  margin: 10px 0;
}
.ol-team-name[data-v-1241bcba] {
  padding: 0;
}
.dropdown-item[data-v-1241bcba] {
  color: #fff;
}
.dropdown-item[data-v-1241bcba]:hover {
  color: #00197d;
}
@media screen and (max-width: 380px) {
  h2[data-v-1241bcba] {
    font-size: 24px;
  }
  h3[data-v-1241bcba] {
    font-size: 20px;
  }
  .dropdown-item[data-v-1241bcba] {
    padding: 4px 0;
    font-size: 14px;
  }
  .ul-stats[data-v-1241bcba] {
    list-style: none;
    padding: 0;
    font-size: 14px;
  }
  .ol-team-name[data-v-1241bcba] {
    padding: 0;
    font-size: 14px;
  }
}
.serie-a-container[data-v-567db6a0] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #00197d;
}
.container-team-stats[data-v-45de2a4d] {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./bundesliga-title.41603ee1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-team-stats[data-v-45de2a4d]:after {
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
}
h1[data-v-45de2a4d] {
  text-align: center;
}
.team-stats[data-v-45de2a4d] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-stats h3[data-v-45de2a4d],
.team-stats p[data-v-45de2a4d] {
  color: #fff;
  z-index: 1001;
  font-weight: 700;
}
h1[data-v-73bc7a86] {
  text-align: center;
}
.container-team-stats[data-v-73bc7a86] {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./premier-league-background.ffd705be.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-team-stats[data-v-73bc7a86]:after {
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
}
.team-stats[data-v-73bc7a86] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-stats h3[data-v-73bc7a86],
.team-stats p[data-v-73bc7a86] {
  color: #fff;
  z-index: 1001;
  font-weight: 700;
}
.container-page-not-found[data-v-8de93398] {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1[data-v-0119d52e] {
  text-align: center;
}
.container-team-stats[data-v-0119d52e] {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./la-liga-title.ad1722ed.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-team-stats[data-v-0119d52e]:after {
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
}
.team-stats[data-v-0119d52e] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-stats h3[data-v-0119d52e],
.team-stats p[data-v-0119d52e] {
  color: #fff;
  z-index: 1001;
  font-weight: 700;
}
.container-team-stats[data-v-17b2f8ca] {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./seria-a-title.90a52c4a.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-team-stats[data-v-17b2f8ca]:after {
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
}
h1[data-v-17b2f8ca] {
  text-align: center;
}
.team-stats[data-v-17b2f8ca] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-stats h3[data-v-17b2f8ca],
.team-stats p[data-v-17b2f8ca] {
  color: #fff;
  z-index: 1001;
  font-weight: 700;
}
